opencv-python
torchvision
torchaudio
numpy
requests
Pillow
aiohttp
huggingface_hub
modelscope
accelerate
optimum
av
qwen-vl-utils
bitsandbytes
torch>=2.0.0
transformers>=4.57.0
triton-windows; sys_platform == 'win32'
triton; sys_platform == 'linux'
openai>=1.0.0
nvidia-ml-py
timm>=0.9.16
sentencepiece
einops