__pycache__/
.vscode/
.history/
.hypothesis/

infer_output/
output/
checkpoints/
engine/
dinov2/
detectron2/
modeling/LiteSDMatte/

configs/LiteSDMatte.py
script/eva.sh
script/train.sh
script/infer.sh
model_arch.txt
teacher_model_arch.txt
attn_map_vis.py
data_check.ipynb
flops.py
gen_one_image.py
gen.sh
main.py
utils.ipynb
utils/visualization.py