requests>=2.31.0
beautifulsoup4>=4.12.0
newspaper3k>=0.2.8
lxml[html_clean]>=5.3.1
torch>=2.0.0
psd-tools>=1.10.0
insightface
onnxruntime
huggingface_hub
facexlib==0.3.0
numpy>=1.24.0
opencv-python>=4.8.0
onnxruntime-gpu; sys_platform != 'darwin' and platform_machine == 'x86_64'
webcolors>=1.13.0
opencv-python
google-generativeai>=0.8.3
color-matcher
