mediapy
decord


# diffusers
# If you do not have diffusers installed, you need to install it.
# You can typically install a compatible version by running the following command inside your activated VENV:
# pip install diffusers
# Repeat this process for any other packages you may be missing that show as errors during bootup or runtime