aiohttp>=3.8.0
pyyaml>=6.0
python-dotenv>=0.20.0
requests>=2.27.0
pillow>=9.0.0
numpy>=1.24.0
tqdm>=4.64.0
transformers>=4.51.0
torch>=2.0
openai
accelerate>=0.28.0 
sentencepiece            
safetensors              
qwen-omni-utils 
#playsound #install this if you have issues playingh the audio
#simpleaudio
pydub
google-genai
opencv-python
tiktoken
blobfile
huggingface_hub
#https://github.com/bitsandbytes-foundation/bitsandbytes/releases/download/continuous-release_main/bitsandbytes-1.33.7.preview-py3-none-win_amd64.whl if you using local transformer provider get bitsandbytes for windows
#https://github.com/bitsandbytes-foundation/bitsandbytes/releases/download/continuous-release_main/bitsandbytes-1.33.7.preview-py3-none-manylinux_2_24_x86_64.whl if you using local transformer provider get bitsandbytes for linux
#autoawq #install this if you using local transformer provider AWQ models
