modelscope
huggingface_hub
transformers>=4.40.0
librosa>=0.10.0
soundfile>=0.12.0
numpy>=1.24.0
tqdm
onnxruntime>=1.18.0
requests
HyperPyYAML>=1.2.0
conformer>=0.3.2
omegaconf>=2.3.0
inflect>=7.0.0
hydra-core>=1.3.0
pydantic>=2.0.0
x-transformers>=2.0.0
openai-whisper
diffusers>=0.29.0
wetext>=0.1.0
pyarrow>=14.0.0
pyworld>=0.3.0
