* text=auto
.gitattributes text eol=lf
.tracking text eol=lf

*.py text eol=lf
*.js text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.otf binary
*.ttf binary
