$archive-color: #221111;
$archive-color-light: #ffeecc;
$archive-color-darker: #110808;

:root {
  --font-roboto: "Roboto", system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
  --background-light:  #b6b6b6;
}
