torch>=2.6
torchvision
torchaudio>=2.6
accelerate
av
decord
diffusers
einops
huggingface-hub
mediapipe
numpy
omegaconf
onnx
onnx_graphsurgeon
onnx_simplifier
opencv-contrib-python
opencv-python-headless
Pillow
polygraphy
pycuda
safetensors
tensorrt
tqdm
transformers
xformers
