LLAMA_INTEGRATION_CLI=C:\ComfyUI\custom_nodes\ComfyUI-LLM-text-processor\vendor\llama.cpp\current-release\win-x64-cuda13\llama-cli.exe
LLAMA_INTEGRATION_MODEL=C:\ComfyUI\models\LLM\Qwen3.5-9B\Qwen3.5-9B-Q4_K_M.gguf
LLAMA_INTEGRATION_MMPROJ=C:\ComfyUI\models\LLM\Qwen3.5-9B\mmproj-Qwen3.5-9B-BF16.gguf
