accelerate
onnxruntime-gpu
omegaconf
librosa>=0.10.2.post1
modelscope
numpy
six
diffusers
pillow
sentencepiece
protobuf
transformers
openai-whisper
sox
hyperpyyaml
conformer
funasr>=1.1.3
sounddevice
noisereduce
scipy
transformers>=4.48.3
