# For TBG
opencv-python
matplotlib
piexif
ollama
color-matcher
grog
opencv-contrib-python
color-matcher
pygments
rotary_embedding_torch
omegaconf
timm

# Linux / WSL / other non-Windows
triton>=3.0 ; sys_platform != "win32"

# Windows
triton-windows>=3.0 ; sys_platform == "win32"

# For Qwen 2.5 VL:
hf_xet
pillow
qwen-vl-utils
bitsandbytes
optimum

# Correction for Nunchacu
huggingface_hub>=0.34
transformers>=4.57.1
diffusers>=0.35.0
accelerate>=1.10
numpy >= 2.3.5

cloudpickle
