# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Mac OS
.DS_Store

# ComfyUI generic
/models/
/input/
/output/
/temp/
